/* Define styles for rectangles */
.button {
  -fx-stroke: black;
  -fx-stroke-type: inside;
  -fx-arc-width: 5;
  -fx-arc-height: 5;
  -fx-pref-width: 60;
  -fx-pref-height: 60;
}

.square-white {
  -fx-fill: white;
}

.square-black {
  -fx-fill: black;
}

/* Define styles for images */
.image-view {
  -fx-fit-width: 60;
  -fx-fit-height: 60;
}
